<!DOCTYPE html>
<html>

<head>
	<title>Reliance CoronaCare</title>
</head>

<body style="font-size: 11px;font-family: arial;margin: 0;padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td colspan="2" style="text-align: center;">
					<img src="http://qa.mgfm.in/Eliteinvoice/RB_logo.png" style="padding: 4px;">
				</td>
			</tr>
			<tr>
				<td style="padding: 3px;" width="50%">Registered Address</td>
				<td style="padding: 3px;" width="50%">Corporate Address</td>
			</tr>
			<tr>
				<td style="padding: 3px;">Unit No.201, A Wing, Kanakia Zillion LBS Marg, CST Road Junction, BKC Annexe, Kurla (West), Mumbai - 400070.</td>
				<td style="padding: 3px;">Unit No.201, A Wing, Kanakia Zillion LBS Marg, CST Road Junction, BKC Annexe, Kurla (West), Mumbai - 400070.</td>
			</tr>
			<tr>
				<td style="padding: 3px 3px 5px;">GSTNO :- 27AAHCR6713M1ZX</td>
				<td style="text-align: right;padding: 3px 3px 5px;">CIN.-</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;padding: 2px;">In case of any queries/assistance,please call us on  022-66048200 or write to us on  delight@rupeeboss.com</td>
			</tr>
			<tr style="background-color: #32419c;color: white;">
				<td style="padding: 3px;">Tax Invoice</td>
				<td style="text-align: right; padding: 3px;">Name of the Service Provider : RupeeBoss Elite</td>
			</tr>
			<tr>
				<td colspan="2" style="padding: 2px;">This is to certify that the subscriber is covered under the wellness program..., as per the details defined under benefits, terms and condition of the program.</td>
			</tr>
			<tr>
				<td colspan="2">
					<table border="0" cellpadding="0" cellspacing="0" width="98%" style="margin: 8px;">
						<tbody>
							<tr>
								<td width="49%">
									<table border="0" cellpadding="0" cellspacing="0" width="90%" style="">
										<tr>
											<td colspan="2" style="background-color: #32419c;color: white;padding: 4px;">CERTIFICATE</td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Certificate Number</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.invno %></td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Crisis Assistance Membership No</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;">NA</td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Plan Start Date</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.StartDate %></td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Plan End Date</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.EndDate %></td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Insurance Confirmation No</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;">0000</td>
										</tr>
									</table>
								</td>
								<td width="49%" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" width="90%" style="float: right;">
										<tr>
											<td colspan="2" style="background-color: #32419c;color: white;padding: 4px;">PRODUCT DETAILS</td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Wellness Cover</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;">Assistance</td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Diagnosis Cover</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;">Yes</td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Quarantine Cover</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;">No</td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Travel Excl Cover</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;">No</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="background-color: #32419c;color: white;padding: 4px;margin: 5px 0px;">PERSONAL DETAILS</td>
			</tr>
			<tr>
				<td colspan="2">
					<table border="0" cellpadding="0" cellspacing="0" width="98%" style="margin: 8px;">
						<tbody>
							<tr>
								<td width="49%" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" width="90%" style="">
										<tr>
											<td style="padding: 3px;border: 1px solid gray;"><b>First Name</b>
											</td>
											<td style="padding: 3px;border: 1px solid gray;border-left: none;"><%= students.FName %></td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Last Name</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.LName %></td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Mobile No.</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.mobile %></td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Email ID </b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.email %></td>
										</tr>
									</table>
								</td>
								<td width="49%" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" width="90%" style="float: right;">
										<tr>
											<td  style="padding: 3px;border: 1px solid gray;" valign="top"><b>Address1</b>
											</td>
											<td style="padding: 3px;border: 1px solid gray;border-left: none;"><%= students.address %></td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Address2</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"></td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>State</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.state %></td>
										</tr>
										<tr>
											<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>City</b>
											</td>
											<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.city %></td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="background-color: #32419c;color: white;padding: 4px;margin: 5px 0px;font-weight: bold;">PAYMENT DETAILS</td>
			</tr>
			<tr>
				<td colspan="2">
					<table border="0" cellpadding="0" cellspacing="0" width="98%" style="margin: 8px;">
						<tbody>
							<tr>
								<td style="padding: 3px;border: 1px solid gray;"><b>Plan Amount</b>
								</td>
								<td style="padding: 3px;border: 1px solid gray;border-left: none;"><%= students.totalamount %></td>
							</tr>
							<tr>
								<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Amount Of Tax IGST (18%)</b>
								</td>
								<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.gstamt %></td>
							</tr>
							<tr>
								<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>GST No. of the Service Recipient</b>
								</td>
								<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;">NA</td>
							</tr>
							<tr>
								<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Total Amount (Including Tax)</b>
								</td>
								<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;"><%= students.amount %></td>
							</tr>
							<tr style="display:none">
								<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Amount In Words</b>
								</td>
								<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;">Nine Hundred Fourty Four Only</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="color: #32419c;font-weight: bold;padding: 0px 10px 5px;font-size: 14px;font-family: arial black;">RupeeBoss Elite Benefits :</td>
			</tr>

			<tr>
				<td colspan="2">
					<table border="0" cellpadding="0" cellspacing="0" width="98%" style="margin: 8px;">
						<tbody>
							<tr style="background-color: #d9d9d9;">
								<td style="padding: 3px;"><b>RTO services are paid services pan India. For each RTO services there is separate fee other than Plan fee.</b>
								</td>
								
							</tr>
						<tr style="background-color: #d9d9d9;">
<td style="padding: 3px;"><b>The RTO services mentioned from 1 to 8 are paid services and for each services there are separate service charges.</b>
								</td></tr>
						</tbody>
					</table>
				</td>
			</tr>
		
	
		
			
		</tbody>
	</table>

	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td colspan="2" style="text-align: center;">
					<img src="http://qa.mgfm.in/Eliteinvoice/RB_logo.png" style="padding: 4px;">
				</td>
			</tr>
			<tr>
				<td>
					<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 10px auto 20px;">
						<tr>
							<td width="30%" style="background-color: #32419c;color: white;padding: 4px;">Benefits</td>
							<td width="70%" style="background-color: #32419c;color: white;padding: 4px;">Short Description</td>
						</tr>
						<tr>
							<td style="padding: 3px;border: 1px solid gray;border-top:none;"><b>Diagnosis Cover</b>
							</td>
							<td style="padding: 3px;border-right: 1px solid gray;border-bottom: 1px solid gray;">During the Policy Period, the Company pays Lumpsum payment of 100% of Sum Insured if Insured Persons diagnosis test confirms presence of COVID-19.</td>
						</tr>
						
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="padding: 5px;font-weight: bold;">* You will receive your Covid-19 Protection Insurance Certificate over SMS, Email within 3 working days from Insurance company.
					<br>For any query please connect with RupeeBoss Elite.</td>
			</tr>
		</tbody>
	</table>
</body>

</html>